.hamburger-row {
    padding: .5em 1.25em;
    background-color:var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.hamburger-nav ul {
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1200px) { 
    

    .hamburger { 
        display: block;
    }
    .hamburger span{
    background-color: var(--light);
    }


    .hamburger-nav {
        background-color:var(--secondary);
    }
    .hamburger-nav ul {
        margin: 0;
        padding: 0;
    }
    .hamburger-nav li {
        display: block;
        padding: .5em;
        text-align: center;
        font-size: 2em;
    }

    .hamburger {
        --rotate-time: .25s;
        --move-time: .15s;
    }


    .hamburger {
        width: 40px;
        height: 40px;
        position: relative;
        padding: 0;
    }
    
    .hamburger span {
        position: absolute;
        height: 8px;
        width: 100%;
        border-radius: 4.5px;
        left: 0;
        transition: rotate var(--rotate-time), transform var(--move-time) var(--rotate-time);
    }

    .hamburger span:nth-child(1) { top: 0px; 
        transition: top var(--move-time) var(--rotate-time);
    }
    
    .hamburger span:nth-child(2) { top: 16px; }
    
    .hamburger span:nth-child(3) { bottom: 0px; 
        transition: bottom var(--move-time) var(--rotate-time);
    }

    .hamburger-nav {
        position: absolute;
        top: 116px;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        left: 100%;
        transition: left 1s;
    }
    .hamburger-nav.active{
        left: 0;
    }

    .hamburger.active span{
        transition: transform var(--move-time), rotate var(--rotate-time) var(--move-time);
        transform-origin: center;
    }

    .hamburger.active span:nth-child(1) {
        top: 16px;
        rotate: -45deg;
    }
    .hamburger.active span:nth-child(2) {
        transform: scale(0%);

    }
    .hamburger.active span:nth-child(3) {
        bottom: 16px;
        rotate: 45deg;
    }
    .hamburger-nav {
        z-index: 5;
    }
    body.active{
        overflow: hidden;
        height: 100vh;
    }
}

