:root {
    color-scheme: light dark;
    --primary: #E0147B;
    --secondary:#0FA3B1;
    --background: light-dark(#F6F4F3, #191919);
    --text:light-dark(#191919, #F6F4F3);
    background-color: var(--background);

  }
  
  body {
    min-width: 100vw;
    min-height: 100vh;
  }
  
  .app {
    margin: 0 auto;
  }