@layer reset, init, typography, hamburger, design;

@import url(normalize.css) layer(reset);
@import url(typography.css) layer(typography);
@import url(hamburger.css) layer(hamburger);

@layer init{

  :root {
    color-scheme: light dark;
    --primary: #E0147B;
    --secondary:#0FA3B1;
    --secondary-dark: #0F8994;
    --light: light-dark(#F6F4F3, #191919);
    --dark: #191919;
    --text-light:#F6F4F3;
    --text-dark: light-dark(#191919,#F6F4F3);
    --main-gap: 5rem;

    background-color: var(--light);
  }
}

@layer design{

  body {
    margin: 0 auto;
  }
  .app{
    position: relative;
    overflow: hidden;
  }

.img-responsive{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  object-fit: fill;
}
.btn{
  font-size: .75em;
  text-align: center;
  color: var(--text-light);
  display: inline-block;
  background-color: var(--primary);
  padding: 1em .75em;
  border-radius: 10px;

}
.btn:hover{
  background-color: var(--secondary);
}

/*header*/
.logo{
  height: 5em;
  width: 10em;
}




  .menu__item:hover{
    text-decoration: underline var(--primary) .25em;
  }
  .active-page{  text-decoration: underline var(--primary);}



.header--index{
  height: 90vh;
  background-image: url(/images/bg-mobile2.avif);
  background-size: cover;
  background-position: center;
  position: relative;
}
.header--index .hamburger-row:not(.active){
  background-color:  transparent;
}
.slogan{
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  position: absolute;
  bottom: 2.5em;
  left: calc(50vw - 150px);
  width: 300px;
  margin: 0;
}
.arrow{
position: absolute;
left: calc(50vw - 20px);
bottom: 3em;
}



/*footer*/

.page__footer{
  background-color: var(--secondary);
}
.footer-item{
  padding: 1em;
}
  /*nabor*/
  .nabor-container{
    margin: auto;
    width: 80%;
    position: relative;
  }
  .btn--nabor{
    position: absolute;
    bottom: 2.5em;
    right: 2.5em;
  }
  .img--nabor{
    border-radius: 8px;
  }
  .quiz{
    display: none;
  }

  /*sponzori*/
  .footer__sponsors{
    background-color: var(--secondary-dark);

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  .footer__sponsors img{
    height: 3em;
  }

  /*info*/
  .info{
    line-height: .5em;
  }
  .right {
    text-align: right;
  }
  .footer__info{

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*footer copyright*/
  .footer__copyright{
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-dark);

    align-items: center;
  }
  .social-icons{
    display: flex;
    gap: 1em;
  }
  .social-icons svg{
    width: 3em;
    height: 3em;
  }
  .social-icons a:hover path{
    fill: var(--primary);
  }



/*animace*/
.ball{
  position: absolute;
}
.animace {
  background-color: var(--dark);
  margin: var(--main-gap) 0;
  position: relative;
  height: 200px;
}

.paddle {
  position: absolute;
  bottom: 20px;
  width: 140px;
  height: auto;
}

.paddle.left {
  left: 0;
}

.paddle.right {
  right: 0;
}

.ball {
  position: absolute;
  bottom: 100px;
  left: 60px;
  width: 24px;
  height: 24px;
  z-index: 1;
  animation: pingpong 2s ease-in-out infinite;
}

@keyframes pingpong {
  0% {
    left: 60px;
    bottom: 100px;
  }
  25% {
    bottom: 130px;
  }
  50% {
    left: calc(100% - 60px);
    bottom: 100px;
  }
  75% {
    bottom: 130px;
  }
  100% {
    left: 60px;
    bottom: 100px;
  }
}


/*main*/
main{
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  margin-bottom: var(--main-gap);
}

.aktuality__card{
  height: auto;
  position: relative;
  border: 2px solid var(--secondary);
  border-radius: 8px;
}

.aktuality__card p{
  color: var(--text-dark);
  margin: 0%;
}
.card__main{
  padding: 16px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}
.btn--aktuality{
  margin-top: 16px;
  width: fit-content;
  align-self: flex-end;
}












  @media only screen and (min-width: 1201px) {
    /*header*/
    .hamburger-row{
      height: 96px;
    }
    .hamburger-nav{
      position: absolute;
      top: 24px;
      right: 0;
      margin-right: 3.25em;
    }    
    .hamburger-nav ul{
      display: flex;
      gap: 1.5em;
    }    
    .hamburger-nav li{
      list-style: none;
      text-align: center;
    }    


    .hamburger-nav a{
      line-height: 1;
      display: block;
      font-size: 1.5em;
      color: var(--text-light);
      padding: 16px 24px;
      border: var(--light) solid 4px;
      border-radius: 1.5em;
    }

    .hamburger-nav a:hover{
      text-decoration: none;
      background-color: var(--primary);
      border-color: var(--primary);
    }
    a.active-page{  
      text-decoration: none;
      background-color: var(--primary);
      border-color: var(--primary);
    }
    .header--index{
      background-image: url(/images/bg-comp.avif);
      height: 90vh;
    }
    .arrow{
      bottom: 4em;
    }
    .slogan{
      top: 160px;
      width: 500px;
      left: calc(50vw - 250px);
    }

    /*footer*/
    .footer-item{
      padding: 24px 128px;
    }
    .footer__nabor{
      display: flex;

    }
    .nabor-container{
      width: auto;
      margin: 0;
      padding: 0 16px;
    }
    .quiz{
      display: block;
    }
    .footer__sponsors img{
      height: 4em;
    }
    .footer__sponsors{

      gap: 40px;
    }

    .info{
      font-size: 1.5em;
    }
    .social-icons svg{
      width: 4em;
      height: 4em;
    }
  }





}


  
