html{
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
    color: var(--dark);
    display: block;
}
p{
    color: var(--text-light);
    font-size: 1em;
    margin: 0;
}
h1{
    color: var(--primary);
    font-size: 2rem;
    margin: 0;
    font-weight: 500;
}
h2{
    margin: 0;
    font-size: 1.75rem;
    font-weight: 500;
}
h3{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 400;
}

li{
    padding: .5em;
    list-style: none;
    font-weight: 300;
    font-size: 1em;
}