html{
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
    color: var(--text-dark);
    display: block;
}
p{
    color: var(--text-dark);
    font-size: 1em;
    margin: 0;
}
h1{
    color: var(--primary);
    font-size: 2rem;
    margin: 0;
    font-weight: 500;
}
h2{
    margin: 0;
    font-size: 1.75rem;
    font-weight: 500;
}
h3{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 400;
}

li{
    padding: .5em;
    list-style: none;
    font-weight: 300;
    font-size: 1em;
}

@media only screen and (min-width: 1080px) {

    a{
        font-size: 1.25rem;
        font-weight: 500;
    }
    p{
        font-size: 1.25rem;
    }
    h1{
        font-size: 2.5rem;
        font-weight: 700;
        grid-area: heading;
    }
    h2{
        font-size: 2.5rem;
        font-weight: 500;
    }
    h3{
        font-size: 2.5rem;
        font-weight: 400;
    }
    
    li{
        font-size: 1.25rem;
    }

}